{{ $item := .item }}

{{ $info := $item.Params }}

{{ $avatar := ($item.Resources.ByType "image").GetMatch "*avatar*" }}
{{ $avatar_shape := site.Params.features.avatar.shape | default "circle" }}

{{ $link := $info.homepage }}
<!-- $link is not implemented yet -->
{{ $target := "" }}
{{ if $link }}
  {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
{{ end }}

<!-- {{ printf "%#v" $link }} -->
<div class="resume-biography flex justify-center items-center flex-col">
  <div class="avatar-wrapper mt-5">
    {{ $avatar_image := $avatar.Fill "150x150 Center" }}
    <img class="avatar rounded-full bg-white dark:bg-gray-800 p-1" src="{{ $avatar_image.RelPermalink }}" alt="{{$item.Title}}"
          width="{{ $avatar_image.Width }}" height="{{ $avatar_image.Height }}">
    {{with $info.status.icon}}<span class="avatar-emoji">{{.|emojify}}</span>{{end}}
  </div>

  <div class="portrait-title dark:text-white" style="text-align: center;">

    <div class="text-4xl font-bold mb-2 mt-6">
      {{- $title_attr := ("" | safeHTMLAttr) -}}
      {{- if $info.homepage -}}
        {{- $title_attr = ((printf "href=\"%s\" %s" $link $target) | safeHTMLAttr) -}}
      {{- end -}}

      {{- if $info.name_pronunciation -}}
        <ruby>
          <rb><a {{ $title_attr }}>{{ $info.Title }}</a></rb>
          <rt>{{ $info.name_pronunciation }}</rt>
        </ruby>
      {{- else -}}
        <a {{ $title_attr }}>{{ $info.Title }}</a>
      {{- end -}}
    </div>

    {{ with $info.role }}<h3 class="font-semibold mb-1">{{ . | markdownify | emojify }}</h3>{{ end }}

    {{ range $info.organizations }}
    <div class="mb-2">
      {{ with .url }}<a href="{{ . }}" target="_blank" rel="noopener">{{ end }}
      <div>{{ .name }}</div>
      {{ if .url }}</a>{{ end }}
    </div>
    {{ end }}
  </div>

  <ul class="network-icon dark:text-zinc-100">
    {{ range $info.profiles }}
    {{ $pack := or .icon_pack "fas" }}
    {{ $pack_prefix := $pack }}
    {{ if in (slice "fab" "fas" "far" "fal") $pack }}
      {{ $pack_prefix = "fa" }}
    {{ end }}
    {{ $link := .url | default .link }}
    {{ $scheme := (urls.Parse $link).Scheme }}
    {{ $target := "" }}
    {{ if not $scheme }}
      {{ $link = (.url | default .link) | relLangURL }}
      {{ if eq (path.Ext $link) ".pdf" }}{{ $target = "target=\"_blank\" rel=\"noopener\"" }}{{ end }}
    {{ else if in (slice "http" "https") $scheme }}
      {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
    {{ end }}
    <li>
      <a href="{{ $link | safeURL }}" {{ $target | safeHTMLAttr }} aria-label="{{ .icon }}"
          {{ with .label }} data-toggle="tooltip" data-placement="top" title="{{.}}"{{ end }}>
        {{ partial "functions/get_icon" (dict "name" .icon "attributes" "style=\"height: 1.5rem;\"")  }}
      </a>
    </li>
    {{ end }}
  </ul>
</div>