hr {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

#section-markdown .max-w-prose {
  max-width: 1024px;
}
#section-markdown img {
  margin-top: 0;
  margin-bottom: 0;
}

#research-groups time {
  display: none; /* this time is only used for ordering */
}

@media (min-width: 1440px) {
  .prose {
    font-size:1.25rem;
    line-height: 1.8
  }
}