<style>
  #research-groups time {
    display: none; /* this time is only used for ordering */
  }
</style>
<style>
  /* from wc.min.css
  .text-2xl {
  font-size:1.5rem;
  line-height:2rem
  }
  .text-3xl {
    font-size:1.875rem;
    line-height:2.25rem
  }
  .text-4xl {
    font-size:2.25rem;
    line-height:2.5rem
  }
  .text-5xl {
    font-size:3rem;
    line-height:1
  }
  .text-6xl {
    font-size:3.75rem;
    line-height:1
  }
  */

  /* for markdown passages */
  #section-markdown .max-w-prose {
    max-width: 1024px;
  }
  #section-markdown .text-3xl { /* to text-4xl */
    font-size:2.25rem;
    line-height:2.5rem
  }
  #section-markdown h2 { /* to text-5xl */
    font-size:3rem;
    line-height:1
  }
  #section-markdown h3 { /* to text-3xl */
    font-size:1.875rem;
    line-height:2.25rem
  }
  #members .text-3xl { /* to text-4xl */
    font-size:2.25rem;
    line-height:2.5rem
  }
</style>